data/code_sync/**
data/qdrant/**
data/ollama/**
data/redi/**


# Pero no ignores .gitkeep
!data/code_sync/.gitkeep
!data/qdrant_storage/.gitkeep
!data/ollama_storage/.gitkeep
!data/redis_data/.gitkeep
!data/ollama/.gitkeep
.aider*
__pycache__/
