data/code_sync/**
data/qdrant/**
data/ollama/**
data/redis/**
data/phoenix/**



# Pero no ignores .gitkeep
!data/code_sync/.gitkeep
!data/qdrant_storage/.gitkeep
!data/ollama_storage/.gitkeep
!data/ollama/.gitkeep
!data/phoenix/.gitkeep
!data/qdrant/.gitkeep

mcp-bridge/requests.log

stderr.log

.aider*
__pycache__/
